body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.board-row {
  display: flex;
  margin-bottom: 0;
}
.board-row:nth-child(1) {
  border-bottom: 1px solid #ddd;
}
.board-row:nth-child(2) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.board-row:nth-child(3) {
  border-top: 1px solid #ddd;
}
.square {
  height: 34px;
  width: 34px;
  padding: 0;
  border: none;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}

.square:nth-child(1) {
  border-right: 1px solid #ddd;
}
.square:nth-child(2) {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.square:nth-child(3) {
  border-left: 1px solid #ddd;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}
